.about{
    position: relative;
    width: 100%;
    height: auto;
    
    &__main{
        width: 100%;
        height: 100vh;
        background-color: $color-snow;
        display: flex;
    }
    
    &__content{

        &-container{
            flex: 0 0  50%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            padding: 7.5rem;
            height: 100vh;
        }

        &-item{
            max-width: 70%;
            text-align: end;
            line-height: 1.6;
        }
    }

    &__image{
        
        &-container{
            flex: 0 0 50%;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-black;
            opacity: .1;
            z-index: 1;
        }
    }
}

@media (max-width: $breakpoint-laptop){
    .about{
        &__content{

            &-container{
                padding-left: $side-padding-laptop;
                padding-right: $side-padding-laptop;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet){
    .about{

        &__main{
            height: auto;
        }

        &__content{

            &-container{
                flex-basis: 100%;
                height: auto;
            }

            &-item{
                font-size: 1.8rem;

                &.increased{
                    font-size: 1.2em;
                }
            }
        }

        &__image-container{
            display: none;
        }
    }
}

@media (max-width: $breakpoint-mobile){
        .about{
        &__content{

            &-container{
                padding-left: $side-padding-mobile;
                padding-right: $side-padding-mobile;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile-xs){
        .about{
        &__content{

            &-container{
                padding-left: $side-padding-mobile-xs;
                padding-right: $side-padding-mobile-xs;
            }
        }
    }
}