.contacts{
    width: 100%;
    height: auto;
    background-color: $color-snow;
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding: 10rem 2rem;
    position: relative;

    &__title{
        flex: 1 1 40%;
        text-align: end;
    }
    
    &__links-container{
        flex: 1 1 40%;
        display: flex;
        gap: 10rem;
    }
}

@media (max-width: $breakpoint-laptop){
    .contacts{
        padding: $side-padding-laptop;
    }
}

@media (max-width: $breakpoint-tablet){
    .contacts{
        gap: 0;
        justify-content: space-between;
        font-size: 1.8rem;
        
        &__title{
            text-align: start;
        }
    }
}

@media (max-width: $breakpoint-mobile){
    .contacts{
        padding-left: $side-padding-mobile;
        padding-right: $side-padding-mobile;
        flex-direction: column;
        align-items: start;
        gap: 4rem;

        &__links-container{
            gap: 5rem;
        }
    }
}

@media (max-width: $breakpoint-mobile-xs){
    .contacts{
        padding-left: $side-padding-mobile-xs;
        padding-right: $side-padding-mobile-xs;
    }
}