.menu{
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 6.5rem;
    padding-right: $side-padding-desktop;
    z-index: 5;
    color: $color-white;
    mix-blend-mode: difference;
    
    &__button{
        width: 9rem;
        height: 5.2rem;
        padding: 0;
        padding-top: 2.75rem;
        position: relative;
        cursor: pointer;
        background: unset;
        border: unset;
        display: flex;
        flex-direction: column;
        z-index: 2;


        &--close{
            position: absolute;
            top: 7.2rem;
            right: 10rem;
        }
    }

    &__hamburger{
        width: 9rem;
        height: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    
    &__line{
        position: relative;
        width: 100%;
        height: .2rem;
        overflow: hidden;
        border-radius: .4rem;

        
        &-inner{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(90deg, $color-white 0%, $color-white 40%, $color-black 40%, $color-black 60%, $color-white 60%, $color-white 100%);
            background-size: 250%;
            background-position: 100%;
            transition: all .7s ease;
        }

        &:last-of-type &-inner{
            transition-delay: .2s;
        }
    }

    &__hamburger:hover &__line-inner{
        background-position: 0%;
    }

    &__close{
        width: 9rem;
        height: 1.2rem;

        &-line{
            width: 50%;
            height: .2rem;
            transform: rotate(45deg);
            background-color: $color-black;
            border-radius: .4rem;
            position: absolute;
            top: -.5rem;
            left: 25%;

            &:last-of-type{
                transform: rotate(135deg);
            }
        }
    }

    &__overlay{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;
        background-color: $color-floral-white;
        display: flex;
        align-items: center;
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15vw;
        width: 100%;
    }

    &__navigation{
        flex-basis: 50%;
        display: flex;
        justify-content: end;
    }

    &__navlist{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 0;
        margin: 0;

        &-item{

            & a{
                text-decoration: none;
                color: $color-red;
                font-size: 7vw;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: .6rem;
                    background-color: $color-red;
                    border-radius: .2rem;
                    transition: all .5s .05s ease;
                }

                &:visited{
                    color: $color-red;
                }

                &:hover, &:focus, &:active{
                    color: $color-red;
                }

                &:hover::after{
                    width: 100%;
                }
            }
        }
    }

    &__contacts{
        flex-basis: 50%;
        align-self: end;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5rem;
        padding-bottom: 2rem;
        font-size: 2.4rem;

    }

    &__iconlist{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 4rem;
        margin: 0;
        padding: 0;
    }

    &__icon{
        margin: 0;
        padding: 0;
        
        &-link{
            width: 6.5rem;
            height: 6.5rem;
            border-radius: 100%;
            background-color: $color-pale-silver;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-red;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                z-index: 1;
                transform: scale(0);
                transition: all .5s .1s ease;
            }
        }

        &:hover &-link::after, &:focus &-link::after, &:active &-link::after{
            transform: scale(1);
        }

        & svg{
            fill: $color-black;
            transition: all .2s .05s ease-out;
            z-index: 2;
        }

        &:hover svg, &:focus svg, &:active svg{
            fill: $color-white !important;
        }
    }

    &__link--email{
        position: relative;
        color: $color-black;
        
        &::after{
            position: absolute;
            content: "";
            bottom: -.2rem;
            right: 0;
            background-color: $color-black;
            width: 100%;
            height: .2rem;
            transition: all .5s .05s ease;
        }

        &:hover, &:focus, &:active{
            color: $color-black;

            &::after{
                width: 0;
            }
        }
    }
}

@media (max-width: $breakpoint-laptop){
    .menu{
        padding-top: 3.25rem;
        padding-right: $side-padding-laptop;

        &__button{

            &--close{
                top: 4rem;
                right: $side-padding-laptop;
            }
        }

        &__content{
            padding: $side-padding-laptop;

        }
    }
}

@media (max-width: $breakpoint-tablet){
    .menu{
        padding-top: 3.25rem;

        &__content{
            height: 100%;
            flex-direction: column;
            justify-content: end;
            gap: 10rem;
        }

        &__navigation{
            flex-basis: content;
            justify-content: center;
        }

        &__navlist{
            gap: 2.4rem;
            margin: 0;

            &-item{
                text-align: center;

                & a{

                    &::after{
                        height: .4rem;
                    }
                }
            }
        }

        &__contacts{
            flex-basis: content;
            align-self: center;
            align-items: center;
            justify-content: end;
            gap: 4rem;
            padding-bottom: 0;
            padding-left: 0;
            font-size: 2rem;
        }

        &__iconlist{
            gap: 2rem;
        }

        &__icon{
            
            &-link{
                width: 5.5rem;
                height: 5.5rem;

            }
        }
    }
}

@media (max-width: $breakpoint-mobile){
    .menu{
        padding-right: $side-padding-mobile;
                
        &__button{

            &--close{
                right: $side-padding-mobile;
            }
        }

        &__navlist-item a{
            font-size: 12vw;
        }
    }
}

@media (max-width: $breakpoint-mobile-xs){
    .menu{
        padding-top: 1.25rem;
        padding-right: $side-padding-mobile-xs;
                
        &__button{

            &--close{
                top: $side-padding-mobile-xs;
                right: $side-padding-mobile-xs;
            }
        }

        &__navlist-item a{
            font-size: 10vw;
        }
    }
}