.menu{
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 6.5rem;
    padding-right: 10rem;
    z-index: 5;
                                        color: $color-white;
            mix-blend-mode: difference;
    
    &__button{
        width: 9rem;
        height: 5.2rem;
        padding: 0;
        padding-top: 2.75rem;
        position: relative;
        cursor: pointer;
        background: unset;
        border: unset;
        display: flex;
        flex-direction: column;
        z-index: 2;


        &--close{
            position: absolute;
            top: 7.2rem;
            right: 10rem;
        }
    }

    &__hamburger{
        width: 9rem;
        height: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    
    &__line{
        position: relative;
        width: 100%;
        height: .4rem;
        overflow: hidden;
        border-radius: .4rem;

        
        &-inner{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(90deg, $color-white 0%, $color-white 40%, $color-black 40%, $color-black 60%, $color-white 60%, $color-white 100%);
            background-size: 250%;
            background-position: 100%;
            transition: all .7s ease;
        }

        &:last-of-type &-inner{
            transition-delay: .2s;
        }
    }

    &__hamburger:hover &__line-inner{
        background-position: 0%;
    }

    &__close{
        width: 9rem;
        height: 1.2rem;

        &-line{
            width: 65%;
            height: .4rem;
            transform: rotate(45deg);
            background-color: $color-black;
            border-radius: .4rem;
            position: absolute;
            top: -.5rem;
            left: 20%;

            &:last-of-type{
                transform: rotate(135deg);
            }
        }
    }

    &__overlay{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;
        background-color: $color-white;
        display: flex;
        align-items: center;
    }

    &__content{
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__navigation{
        flex-basis: 50%;
        padding-left: 17vw;
    }

    &__navlist{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &-item{

            & a{
                text-decoration: none;
                color: $color-red;
                font-size: 12rem;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: .6rem;
                    background-color: $color-red;
                    border-radius: .2rem;
                    transition: all .5s .05s ease;
                }

                &:visited{
                    color: $color-red;
                }

                &:hover, &:focus, &:active{
                    color: $color-red;
                }

                &:hover::after{
                    width: 100%;
                }
            }
        }
    }

    &__contacts{
        flex-basis: 50%;
        align-self: end;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        padding-bottom: 4rem;
        padding-left: 20rem;
        font-size: 2.4rem;

    }

    &__iconlist{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 4rem;
        padding: 0;
    }

    &__icon{
        margin: 0;
        padding: 0;
        
        &-link{
            width: 6.5rem;
            height: 6.5rem;
            border-radius: 100%;
            background-color: $color-pale-silver;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-red;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                z-index: 1;
                transform: scale(0);
                transition: all .5s .1s ease;
            }
        }

        &:hover &-link::after, &:focus &-link::after, &:active &-link::after{
            transform: scale(1);
        }

        & svg{
            fill: $color-black;
            transition: all .2s .05s ease-out;
            z-index: 2;
        }

        &:hover svg, &:focus svg, &:active svg{
            fill: $color-white !important;
        }
    }

    &__link--email{
        position: relative;
        color: $color-black;
        
        &::after{
            position: absolute;
            content: "";
            bottom: -.2rem;
            right: 0;
            background-color: $color-black;
            width: 100%;
            height: .2rem;
            transition: all .5s .05s ease;
        }

        &:hover, &:focus, &:active{
            color: $color-black;

            &::after{
                width: 0;
            }
        }
    }


}