$color-black: #000;
$color-snow: #FBFAFA;
$color-floral-white: #FCF9F5;
$color-pale-silver: #CBC4BC;
$color-sepia: #593410;
$color-red: #c3110e;
$color-white: #fff;

$font-family-primary: "Questrial", sans-serif;

$side-padding-desktop: 10rem;
$side-padding-laptop: 6rem;
$side-padding-mobile: 4rem;
$side-padding-mobile-xs: 2rem;

$breakpoint-mobile-xs: 400px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-laptop: 1439px;
$breakpoint-desktop: 1440px;